@import "vars";
@import "global";
@import "fonts";

// start header
.header {
  background-color: #fff;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
  background-color: #fff;
}
.header__text {
  margin-left: auto;
  margin-right: 50px;
  span {
    color: $red;
  }
}
.header__circle {
  &.active {
    display: block;
  }
  display: none;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #f5f5f5;
  position: relative;
  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #a0a0a0;
    font-size: 14px;
  }
  span {
    position: absolute;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    right: -7px;
    top: -7px;
    color: #fff;
    font-size: 12px;
  }
}
.notification {
  span {
    background-color: $tomato;
  }
}
.message {
  span {
    background-color: $yellow;
  }
}
.basket {
  margin-right: 20px;
  span {
    background-color: $green;
  }
}
.user {
  margin-right: 25px;
  padding-right: 20px;
  position: relative;
  &::before {
    content: "\f107";
    font-family: "icomoon" !important;
    position: absolute;
    font-size: 16px;
    color: #707070;
    right: 0;
    top: 0;
  }
  &__inner {
    display: flex;
    align-items: center;
  }
  &__images {
    width: 34px;
    height: 34px;
    margin-right: 15px;
    overflow: hidden;
    border-radius: 50%;
  }
  &__info {
    font-size: 14px;
    line-height: 24px;
  }
  &__money {
    color: $green;
    @include f700;
  }
  &__name {
    @include f500;
    color: #222;
  }
}
.user__menu {
  border: rgb(204, 204, 204) 0px solid;
  position: absolute;
  top: 69px;
  background-color: #fff;
  padding: 0 20px;
  width: 158px;
  left: 20px;
  transition: all 0.3s;
  height: 0;
  overflow: hidden;
  a {
    font-size: 12px;
    color: #546e7a;
    margin-bottom: 15px;
  }
}

.user__box,
.basket__box,
.message__box,
.notification__box {
  position: relative;
  height: 90px;
  margin-top: 42px;
  &:hover {
    .user__menu {
      height: auto;
      border-width: 1px;
      padding: 20px;
      overflow: auto;
    }
  }
}

.circle__menu {
  position: absolute;
  border: 1px solid #e0e0e0;
  top: 62px;
  right: 0;
  overflow: hidden;
  transition: all 0.3s;
  height: 0;
  z-index: 4;
}

.basket__box,
.message__box,
.notification__box {
  margin-top: 54px;
  margin-left: 15px;
  &:hover {
    .circle__menu {
      overflow: hidden;
      height: auto;
    }
    .circle__item {
      padding: 23px;
      border-width: 1px;
    }
    .header__circle:before {
      color: $bg;
    }
  }
}
.circle__item {
  background-color: #fff;
  padding: 0 23px;
  border: 0px solid #e0e0e0;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top: none;
  display: flex;
  align-items: center;
  width: 269px;
  position: relative;
  &:before {
    position: absolute;
    right: 30px;
    top: 28px;
    color: #b0bec5;
    font-size: 16px;
  }
}

.icons-color::before {
  color: $tomato;
}
.basket__box {
  .circle__images {
    padding-right: 15px;
  }
}
.circle__info-name {
  @include f500;
  color: $bg;
}
.circle__info-theme {
  font-size: 12px;
  color: $green;
}
.circle__info-price {
  @include f500;
  color: #000;
  font-size: 16px;
}
.circle__info-date {
  color: #707070;
  font-size: 10px;
  font-family: "Roboto-Regular", sans-serif;
}

.notification-menu,
.message-menu {
  .circle__images {
    margin-right: 20px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }
  .circle__info {
    line-height: 18px;
  }
  .circle__info-name {
    font-size: 12px;
    @include f700;
  }
  .circle__info-theme {
    font-family: "Roboto-Regular", sans-serif;
  }
}
.message-menu {
  .circle__info-theme {
    font-size: 11px;
  }
}
.basket__summ {
  padding: 16px 17px 12px;
  border: 1px solid #e0e0e0;
  border-top: none;
  background-color: #fff;
}
.basket__title {
  display: flex;
  justify-content: space-between;
  padding-left: 13px;
  padding-right: 22px;
  margin-bottom: 15px;
  font-size: 16px;
  color: $bg;
  @include f700;
}
.basket__btn {
  color: #fff;
  @include f700;
  padding: 12px 5px;
  font-size: 14px;
  background-color: $green;
  text-align: center;
  width: 100px;
}
.basket__btn-checkout {
  width: 123px;
  background-color: $red;
}

.header__box {
  display: flex;
  align-items: center;
}
.header__btn-menu,
.menu__btn {
  display: none;
}
.header__btn {
  padding: 4px;
  width: 72px;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  font-size: 12px;
}
.header__btn-login {
  background-color: $green;
}
.header__btn-login--off {
  display: none;
}
.header__btn-logout {
  display: none;
  &.header__btn-login--on {
    display: block;
  }
}
.header__btn-register,
.header__btn-logout {
  background-color: $red;
  margin-left: 7px;
}
.header__menu {
  background-color: $bg;
}
.menu {
  display: flex;
  align-items: center;
  height: 60px;
}
.menu__list {
  li {
    display: inline-block;
    & + li {
      margin-left: 30px;
    }
  }
  a {
    color: #fff;
    font-size: 14px;
  }
}
// end header

// start modal
#modal {
  background-color: $green;
  max-width: 730px;
  width: 100%;
  padding-top: 90px;
  padding-bottom: 100px;
}
.login__title {
  font-size: 48px;
  color: #fff;
  @include f700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}
.login__wrapper {
  form {
    max-width: 400px;
    margin: 0 auto;
    label {
      width: 100%;
      display: block;
      position: relative;
      &::before {
        position: absolute;
        font-size: 14px;
        left: 18px;
        color: #fff;
        font-family: "icomoon";
        top: 9px;
      }
    }
    button {
      margin-top: 19px;
      padding: 18px 0 16px;
      background-color: #fff;
      @include f700;
      width: 140px;
      text-transform: uppercase;
      border: none;
      margin-right: 10px;
      color: #000;
      text-align: center;
      box-shadow: 0px 2px 2px 0px rgba(118, 174, 54, 0.75);
    }

    .login__label-name::before {
      content: "\f007";
    }
    .login__label-pass::before {
      content: "\f023";
    }
    input {
      height: 43px;
      margin-bottom: 8px;
      border: none;
      background-color: #76ae36;
      color: #fff;
      font-size: 14px;
      padding-left: 40px;
      display: block;
      width: 100%;
      &::placeholder {
        font-size: 14px;
        color: #fff;
      }
    }
  }

  .lost-pass {
    display: block;
    color: #fff;
    margin-top: 20px;
    font-size: 18px;
  }
  .creat-acc {
    margin-top: 19px;
    padding: 15px 0 15px 28px;
    text-align: center;
    width: 245px;
    background-color: #76ae36;
    color: #fff;
    font-size: 18px;
    position: relative;
    &::before {
      content: "\f044";
      position: absolute;
      font-family: "icomoon";
      top: 15px;
      left: 35px;
    }
  }
}
.fancybox-button svg path {
  color: #fff;
}
// end modal

// start search
.search {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 533px;
  &__new-items {
    min-height: 230px;
    .search__inner {
      padding: 60px 0 65px;
    }
  }
}
.search__inner {
  padding: 155px 0 100px;
  color: #fff;
  text-align: center;
  &-title {
    font-size: 48px;
    @include f700;
    margin-bottom: 10px;
    line-height: 72px;
  }
  &-text {
    font-size: 20px;
    @include f500;
    margin-bottom: 50px;
    line-height: 30px;
  }
  &-form {
    max-width: 670px;
    margin: 0 auto;
    position: relative;
    input {
      display: block;
      width: 100%;
      height: 56px;
      box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
      border-radius: 4px;
      border: none;
      @include f500;
      font-size: 14px;
      outline: none;
      padding: 0 60px 0 25px;
      &::placeholder {
        color: #90a4ae;
        @include f500;
      }
    }
    button {
      position: absolute;
      border: none;
      background-color: transparent;
      right: 20px;
      top: 16px;
    }
  }
}
// start products
.products {
  padding: 110px 0;
  background-color: $gray;
}
.products__inner-btn {
  margin-bottom: 60px;
  text-align: center;
  button {
    padding: 12px 21px;
    border: none;
    font-size: 14px;
    @include f500;
    background-color: #fff;
    color: $bg;
    cursor: pointer;
    & + button {
      margin-left: 5px;
    }
    &.mixitup-control-active {
      background-color: $red;
      color: #fff;
      outline: none;
    }
  }
}
.products__inner-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product__item {
  max-width: 442px;
  width: 100%;
  @include f500;
  box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
  margin-bottom: 30px;
  &-img {
    min-height: 250px;
    background-repeat: no-repeat;
    display: block;
    background-position: center;
    background-size: cover;
  }
  &-content {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    min-height: 90px;
    align-items: center;
    @include f500;
    border-bottom: #e7ecf2 1px solid;
  }
  &-name {
    max-width: 310px;
  }
  &-title {
    color: $bg;
    font-size: 18px;
    display: block;
  }
  &-category {
    display: block;
    color: $green;
    font-size: 14px;
  }
  &-price {
    font-size: 20px;
    @include f700;
  }
  &-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    padding: 10px 30px;
  }
  &-author {
    display: flex;
    align-items: center;
    max-width: 245px;
    .avatar {
      display: inline-block;
      min-width: 30px;
      height: 30px;
      border-radius: 50%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin-right: 14px;
    }
    span {
      color: $text;
      font-size: 14px;
    }
  }
  &-star {
    font-size: 12px;
    span {
      color: $bg;
    }
  }
}
.product__bottom-btn {
  text-align: center;
  button {
    color: $bg;
    border: none;
    padding: 20px 30px;
    font-size: 16px;
    margin: 45px 5px 0;
    box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
    cursor: pointer;
    background: #fff;
    &.mixitup-control-active {
      background-color: $red;
      color: #fff;
      outline: none;
    }
  }
}
// end products

// start products-slider
.product-slider {
  padding: 110px 0px 120px;
  .slick-dots {
    text-align: center;
    margin-top: 50px;
    li {
      display: inline-block;
      margin-right: 3px;
      margin-left: 3px;
      &.slick-active {
        button {
          background-color: $green;
        }
      }
      button {
        border-radius: 50%;
        background-color: rgb(232, 232, 232);
        border: none;
        font-size: 0;
        width: 16px;
        height: 16px;
        cursor: pointer;
        outline: none;
      }
    }
  }
}
// end products-slider

// start advantages
.advantages {
  padding: 110px 0;
  background-color: $bg;
}
.advantages__item-title {
  color: #fff;
}
.advantages__inner {
  display: flex;
  justify-content: space-between;
}
.advantages__item {
  max-width: 370px;
  text-align: center;
  padding: 0px 15px;

  &:hover {
    .advantages__item-images {
      background-color: $green;
      transition: all 0.3s;
      g {
        fill: #fff;
      }
    }
    .advantages__item-title {
      color: $green;
      transition: all 0.3s;
    }
  }

  &-images {
    width: 114px;
    height: 114px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 30px;
  }
  &-title {
    color: #fff;
    @include f500;
    margin-bottom: 25px;
    font-size: 24px;
  }
  &-text {
    font-size: 15px;
  }
}

// end advantages

// start author

.author {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__box {
    max-width: 650px;
    width: 100%;
    min-height: 215px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $green;
  }
  &__title {
    font-size: 30px;
    line-height: 30px;
    color: #fff;
    margin-right: 45px;
    max-width: 280px;
    span {
      @include f700;
    }
  }
  &__link {
    font-size: 18px;
    line-height: 36px;
    height: 64px;
    padding: 14px 40px;
    background-color: #fff;
  }
}
// end author

// start tutorial

.tutorial {
  padding: 70px 0 120px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    max-width: 370px;
    width: 100%;
  }
}
.tutorial__item {
  &-images {
    min-height: 270px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &-title {
    @include f700;
    text-align: center;
    font-size: 24px;
    background-color: #f8f8f8;
    padding: 30px 10px;
    color: $bg;
  }
}
// end tutorial

// start footer
.footer {
  background-color: $bg;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  padding: 100px 0px 80px;
}
.footer__col {
  max-width: 270px;
  width: 100%;
  &-title {
    font-size: 22px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #fff;
    padding-bottom: 22px;
    margin-bottom: 30px;
    position: relative;
    &::after {
      content: "";
      height: 3px;
      width: 51px;
      bottom: 0;
      left: 2px;
      position: absolute;
      background-color: $green;
      z-index: 1;
    }
  }
  &-text {
    color: #b7c3c8;
    margin-bottom: 30px;
  }
  &-menu {
    max-width: 220px;
  }
}
.footer__info {
  margin-top: 18px;
  color: #fff;
  @include f500;
  padding-left: 30px;
  position: relative;
  &::before {
    content: "\f041";
    font-family: "icomoon" !important;
    color: $green;
    font-size: 18px;
    position: absolute;
    left: 0;
  }
}
.footer__info-phone {
  &::before {
    content: "\f095";
    font-family: "icomoon" !important;
    color: $green;
    font-size: 18px;
    position: absolute;
    left: 0;
  }
}
.footer__col-list {
  a {
    color: #b7c3c8;
    padding-left: 22px;
    position: relative;
    &::before {
      content: "\f105";
      position: absolute;
      font-size: 18px;
      font-family: "icomoon" !important;
      color: $green;
      left: 0;
    }
  }
}
.footer__social-link {
  margin-bottom: 33px;
  li {
    display: inline-block;
    & + li {
      margin-left: 7px;
    }
  }
}
.footer__social-link a {
  width: 28px;
  height: 28px;
  background-image: url(../images/css_sprites.png);
}
.link-tweeter {
  background-position: -28px -0;
}
.link-youtube {
  background-position: -84px -0;
}
.link-pinterest {
  background-position: -112px -0;
}
.link-linledin {
  background-position: -56px -0;
}
.footer__form-title {
  color: #fff;
  margin-bottom: 15px;
  font-size: 20px;
}

.footer__form {
  position: relative;
  input {
    border: none;
    width: 100%;
    background-color: #2f3c43;
    display: block;
    height: 40px;
    color: #fff;
    font-size: 14px;
    padding: 0px 50px 0 13px;
    &::placeholder {
      color: #697378;
    }
  }
  button {
    height: 40px;
    bottom: 0;
    position: absolute;
    width: 43px;
    background-color: $green;
    right: 0;
    outline: none;
    border: none;
    cursor: pointer;
    &::before {
      content: "\f124";
      font-family: "icomoon" !important;
      color: #fff;
      font-size: 20px;
      top: 11px;
      left: 13px;
    }
  }
}
.footer__copy {
  border-top: 1px solid #424d53;
}
.footer__copy-text {
  font-size: 15px;
  color: #919699;
  text-align: center;
  padding: 25px 0px;
}

// end footer

// start product page
.product-page__inner {
  display: flex;
  padding-bottom: 110px;
}
.product-page__aside {
  margin-right: 30px;
}
.aside__item {
  background-color: #fff;
  border: 1px solid #dedede;
  padding: 0 32px 32px 32px;
  margin-bottom: 30px;
  width: 270px;
}
.aside__title {
  font-size: 20px;
  border-bottom: 1px solid #dde3e8;
  color: $bg;
  padding: 20px 0 19px;
  @include f700;
}
.category__list {
  padding-top: 10px;
  li {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    position: relative;
    &::before {
      content: "\f105";
      position: absolute;
      font-size: 18px;
      font-family: "icomoon" !important;
      color: $green;
      left: 0;
    }
  }
  a {
    color: $bg;
  }
  span {
    color: #90a4ae;
    margin-left: 10px;
  }
}
.irs-min,
.irs-max {
  display: none;
}
.irs--flat .irs-line {
  height: 5px;
  background-color: #f2f5f8;
  border-radius: 4px;
}
.irs--flat .irs-bar {
  height: 5px;
  background-color: #37474f;
}
.irs--flat .irs-handle {
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  border: 4px $green solid;
  top: 19px;
}
.irs--flat .irs-handle > i:first-child {
  display: none;
}
.irs-from,
.irs-single,
.irs-to {
  top: 45px;
}
.irs--flat .irs-from,
.irs--flat .irs-single,
.irs--flat .irs-to {
  color: #78909c;
  font-size: 15px;
  padding: 1px 5px;
  background-color: #fff;
}
.irs--flat .irs-from:before,
.irs--flat .irs-single:before,
.irs--flat .irs-to:before {
  display: none;
}
.price-range {
  form {
    padding-top: 20px;
  }
  button {
    width: 100%;
    margin-top: 50px;
    background-color: $green;
    padding: 16px 10px;
    text-align: center;
    cursor: pointer;
    border: none;
    color: #fff;
    @include f500;
    display: block;
    position: relative;
    &::before {
      content: "\f002";
      position: absolute;
      font-size: 15px;
      font-family: "icomoon" !important;
      color: #fff;
      left: 58px;
      top: 15px;
      position: absolute;
    }
  }
}
.product-page__aside {
  .product__item-img {
    min-height: 120px;
  }
  .product__item {
    box-shadow: none;
    padding-bottom: 30px;
    border-bottom: 1px solid #dde3e8;
  }
  .product__item-content {
    padding: 0;
    min-height: 75px;
    border: none;
  }
  .product__item-info {
    padding: 0;
    min-height: 0px;
  }
  .product__item-title {
    font-size: 16px;
  }
  .product__item-price {
    font-size: 16px;
  }
  .product__item-starnum {
    display: none;
  }
  .rate-star {
    margin-right: 0px;
  }
  .product__item-author .avatar {
    margin-right: 9px;
  }
  .jq-ry-container {
    padding: 0px;
  }
}
.aside__product-item {
  .product__item:last-child {
    border: none;
    margin-bottom: 0;
  }
  .product__item:first-child {
    margin-top: 28px;
  }
}
.top-sellers__link {
  color: #fff;
  text-align: center;
  display: block;
  width: 100%;
  padding: 16px 10px;
  background-color: $green;
  @include f500;
}

.product-page__content {
  width: 100%;
}
.product-page__filter {
  background-color: #fff;
  border: 1px solid #dedede;
  padding: 0 20px;
  margin-bottom: 30px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: #90a4ae;
    &.active {
      color: $green;
      outline: none;
    }
  }
}
.product-page__filter-sort {
  color: #707070;
  font-size: 14px;
  display: flex;
  align-items: center;
}
button.icon-unsorted {
  font-size: 18px;
  color: #707070;
}
button.icon-sort-amount-desc {
  color: #455a64;
}

.product-page__content {
  .product__item {
    max-width: 270px;
    background-color: #fff;
    transition: all 0.5s;
  }
  .product__item-img {
    min-height: 180px;
  }
  .product__item-content {
    padding: 10px 20px;
  }
  .product__item-title {
    font-size: 16px;
  }
  .product__item-info {
    min-height: 65px;
    padding: 10px 20px;
  }
  .rate-star {
    margin-right: 5px;
  }
  .jq-ry-container {
    padding: 0;
  }
}
.product-page__items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.pagination__list {
  li {
    display: inline-block;
    & + li {
      margin-left: 6px;
    }
    a,
    span {
      box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
      width: 43px;
      height: 38px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $bg;
      font-size: 16px;
      background-color: #fff;
      @include f500;
      &.active {
        background-color: $red;
        color: #fff;
      }
    }
  }
}
.product__item-text {
  display: none;
}
.product__item-price {
  span {
    display: none;
  }
}
.product__item-list {
  display: none;
  .icon-comment-o,
  .icon-heart-o {
    display: inline-block;
    font-size: 12px;
    color: #70838d;
    padding-left: 50px;
    border-left: 1px solid #aeb4bb;
    position: relative;

    span {
      color: $bg;
      @include f500;
    }
    &::before {
      font-size: 16px;
      position: absolute;
      color: $green;
      left: 20px;
      top: 0;
    }
  }
}
.icon-comment-o {
  padding-right: 30px;
  &::before {
    top: -2px;
  }
}
.product__item {
  &.list {
    max-width: 100%;
    .product__item-img {
      width: 240px;
      float: left;
      min-height: 100%;
    }
    .product__item-text {
      display: block;
      font-size: 14px;
      color: #70838d;
      margin-top: 15px;
      margin-bottom: 5px;
    }
    .product__item-price {
      font-size: 30px;
      span {
        display: block;
        font-size: 13px;
        color: #aeb4bb;
        margin-top: 30px;
      }
    }
    .product__item-name {
      max-width: 480px;
    }
    .product__item-list {
      display: block;
    }
    .product__item-star {
      margin-left: auto;
      margin-right: 30px;
    }
  }
}

.product__item-content {
  padding-top: 23px;
}
// end product page

// start product-one page
.product-one {
  padding-bottom: 100px;
  background-color: #f4f6f5;
}
.product-one__inner {
  display: flex;
}
.product-one__images-inner {
  background-color: #fff;
  border: solid 1px #dcdcdc;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
}
.product-one__images {
  max-width: 829px;
  height: 422px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.product-one__content {
  margin-right: 31px;
  max-width: 870px;
}
.product-one__title {
  font-size: 30px;
  color: $bg;
  line-height: 40px;
  @include f700;
}
.product-one__text {
  font-size: 16px;
  color: #707070;
  margin-bottom: 35px;
  margin-top: 20px;
}
.product-one__box {
  display: flex;
  margin-bottom: 55px;
  justify-content: space-between;
  text-align: center;
}
.product-one__link {
  a {
    padding: 14px 8px;
    color: $gray;
    width: 150px;
    font-size: 16px;
    & + a {
      margin-left: 20px;
    }
  }
}

.link-live {
  background-color: $red;
}
.link-screenshots {
  background-color: #455a64;
}
.link-documentation {
  background-color: $green;
}
.product-one__social {
  a {
    width: 54px;
    height: 50px;
    position: relative;
    & + a {
      margin-right: 3px;
    }
    &::before {
      position: absolute;
      font-size: 18px;
      color: #fff;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
.icon-facebook {
  background-color: #6370b6;
}
.icon-twitter {
  background-color: #64b5f6;
}
.icon-linkedin {
  background-color: #4f71ce;
}
.icon-pinterest-p {
  background-color: #d32f2f;
}
.product-one__more-title {
  font-size: 18px;
  @include f500;
  color: $bg;
  padding: 18px 25px;
  border: 1px #dcdcdc solid;
  margin-bottom: 28px;
  background-color: #fff;
}
.tab_content {
  border-top: none;
  border: 1px solid #d7d7d7;
  background-color: #fff;
  padding: 30px 30px 50px;
}
.tab-item {
  display: none;
  &:first-child {
    display: block;
  }
}
.tab-item__list {
  line-height: 36px;
  font-size: 16px;
  color: #707070;
  column-count: 2;
  column-gap: 25px;
  li {
    max-width: 270px;
    width: 100%;
  }
}
.product-one__more {
  margin-top: 55px;
}
.tabs {
  display: flex;
  text-align: center;
  border: 1px solid #d7d7d7;
  .tab {
    width: 100%;
    background-color: #fff;
    font-size: 16px;
    color: #70838d;
    padding: 20px 0;
    & + .tab {
      border-left: 1px solid #d7d7d7;
    }
  }
}
.product-one__more-icons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.productmini {
  align-items: center;
  margin-bottom: 27px;
  display: flex;
  height: 90px;
  box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
  max-width: 270px;
  width: 100%;
  background-color: #fff;
}
.productmini__images {
  width: 100px;
  height: 90px;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.productmini__name {
  @include f500;
  color: $bg;
  font-size: 14px;
}
.productmini__theme {
  color: $green;
  font-size: 12px;
}
.productmini__price {
  @include f700;
  font-size: 18px;
  color: $bg;
}

.price__box {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}
.price__product {
  @include f500;
  font-size: 22px;
  color: $red;
}
.product__price {
  button {
    box-shadow: 0px 1px 2px 0px rgba(69, 90, 100, 0.75);
    color: #fff;
    margin-bottom: 7px;
    border: none;
    font-size: 16px;
    display: block;
    text-align: center;
    padding: 17px 5px 15px;
    font-weight: 700;
    font-family: "Roboto", sans-serif !important;
    width: 100%;
    cursor: pointer;
    background-color: $text;
    &::before {
      font-weight: 400;
      font-family: "icomoon";
      padding-right: 8px;
    }
  }
  .icon-shopping-cart {
    background-color: $green;
  }
  .icon-heart-o {
    background-color: #42a5f5;
  }
}
.product-author__box {
  padding: 25px 0;
  display: flex;
}
.author__avatar {
  margin-right: 14px;
}
.author__name {
  font-size: 18px;
  color: $bg;
  margin-bottom: 13px;
}
.author__info-link {
  padding: 6px 11px;
  border: 1px solid #d6d6d6;
  color: #707070;
  font-size: 13px;
  line-height: 13px;
}
.author__awards-list {
  li {
    display: inline-block;
    color: #fff;
    font-size: 20px;
    text-align: center;
    position: relative;
    &::before {
      position: absolute;
      top: 6px;
      left: 0;
      right: 0;
    }
    & + li {
      margin-left: 4px;
    }
  }
  .icon-meh-o {
    width: 34px;
    height: 37px;
    background-image: url(../images/product-one/awards-orange.png);
  }
  .icon-pagelines {
    width: 34px;
    height: 37px;
    background-image: url(../images/product-one/awards-red.png);
  }
  .icon-flash {
    width: 34px;
    height: 37px;
    background-image: url(../images/product-one/awards-blue.png);
  }
  .icon-foursquare {
    width: 34px;
    height: 37px;
    background-image: url(../images/product-one/awards-green.png);
  }
  .icon-yen {
    width: 34px;
    height: 37px;
    background-image: url(../images/product-one/awards-gray.png);
  }
}
.aside__item-sales {
  padding-top: 17px;
  @include f300;
  font-size: 16px;
  color: #707070;
  span {
    @include f700;
    font-size: 20px;
    color: #263238;
    padding-right: 13px;
    &::before {
      content: "\f07a";
      color: #a6b5bb;
      font-family: "icomoon";
      padding-right: 20px;
    }
  }
}
.aside__item.sales-number {
  padding-bottom: 17px;
}
.information__line {
  font-size: 14px;
  color: #70838d;
  margin-top: 20px;
  line-height: 18px;
  span {
    @include f500;
    color: $bg;
    margin-right: 4px;
  }
}
// end product-one page
// start page-404

.page-404__wrapper,
.about__wrapper,
.contact__wrapper {
  border: 1px solid #dcdcdc;
  background-color: #fff;
  margin-bottom: 150px;
}

.page-404__head,
.about__head,
.contact__head {
  font-size: 24px;
  padding: 23px 27px;
  @include f500;
  color: #444;
  border-bottom: 1px solid #dcdcdc;
}

.page-404__inner {
  text-align: center;
  background-color: $green;
  color: #fff;
}
.page-404__404 {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 300px;
  color: #fff;
  padding-top: 70px;
  padding-bottom: 20px;
  line-height: 300px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    background-image: url(../images/page-404/page-404.png);
    width: 150px;
    height: 292px;
    margin-left: 20px;
  }
}
.page-404__title {
  margin-bottom: 30px;
  @include f300;
  font-size: 30px;
}
.page-404__text {
  font-size: 18px;
  max-width: 501px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.page-404__link {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  padding: 20px 30px 16px;
  border: 1px solid #fff;
  border-radius: 4px;
  margin-bottom: 100px;
}
// end page-404

// start about page
.about__inner {
  padding: 0px 50px;
}
.about__box {
  h3 {
    font-size: 20px;
    @include f700;
    color: #444;
    margin-top: 40px;
    margin-bottom: 15px;
  }
  p {
    margin-bottom: 40px;
  }
}
// end about page
// start contacts page

.contact__head {
  padding-left: 40px;
  padding-right: 40px;
}
.contact__inner {
  padding: 35px 40px 15px;
}
.contact__map {
  margin-bottom: 50px;
  iframe {
    width: 100%;
    height: 415px;
  }
}
.contact__box {
  display: flex;
}
.contact__info {
  margin-right: 30px;
  max-width: 330px;
  width: 100%;
}
.contact__info-item {
  margin-bottom: 30px;
}
.contact__info-title {
  padding-bottom: 20px;
  position: relative;
  font-size: 20px;
  color: $bg;
  padding-left: 40px;
  max-width: 230px;
  margin-bottom: 25px;
  &::after {
    content: "";
    width: 44px;
    height: 4px;
    background-color: $green;
    left: 40px;
    bottom: 0;
    position: absolute;
  }
  &::before {
    color: $green;
    font-size: 24px;
    position: absolute;
    left: 0;
  }
}
.contact__info-title span {
  font-family: "Roboto-Regular", sans-serif;
  @include f500;
}

.contact__info-content {
  padding-left: 40px;
  color: #707070;
}
.contact__form {
  width: 100%;

  input {
    border: none;
    display: block;
    padding-left: 17px;
    padding-right: 17px;
    height: 43px;
    width: 350px;
    margin-bottom: 30px;
    background-color: #f1f4f5;
    &::placeholder {
      font-size: 15px;
      color: #7a7a7a;
    }
  }
  textarea {
    border: none;
    display: block;
    padding: 13px 17px;
    height: 190px;
    width: 100%;
    background-color: #f1f4f5;
    resize: none;
    margin-bottom: 23px;
    // max-width: 725px;
    &::placeholder {
      font-size: 15px;
      color: #7a7a7a;
    }
  }
  button {
    border: none;
    background-color: $green;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    @include f700;
    color: #fff;
    padding: 20px 5px;
    width: 190px;
  }
}
.contact__form-title {
  @include f500;
  font-size: 24px;
  margin-bottom: 16px;
  color: #333;
}
.contact__form-row {
  display: flex;
  justify-content: space-between;
}
// end contacts

// start settings
.settings {
  padding-bottom: 100px;
}
.product-one__tabs.settings__tabs {
  display: flex;
  .tabs {
    width: 100%;
    max-width: 270px;
    margin-right: 30px;
    border: 1px solid #dedede;
    border-bottom: none;
    display: block;
    text-align: left;
    height: 100%;
    span {
      display: block;
      background-color: #fff;
      border: 1px solid #dedede;
      padding: 17px 17px 17px 50px;
      color: #707070;
      font-size: 14px;
      @include f500;
      &.active {
        border-bottom: 1px solid $green;
        color: #37474f;
        &::before {
          color: $green;
        }
      }
      &::before {
        left: 24px;
        color: #444;
      }
    }
  }
  .tabs .tab + .tab {
    border-left: none;
  }
  .tab_content {
    width: 100%;
    padding: 0;
    border: none;
    background-color: transparent;
  }
}
.page__box {
  background-color: #fff;
  border: 1px solid #dedede;
  min-height: 100%;
}
.page__box-title {
  border-bottom: 1px solid #dedede;
  padding: 18px 34px;
  color: $bg;
  font-size: 24px;
  @include f500;
}
.page__box-content {
  padding: 30px 35px 80px;
}
.settings__line {
  margin-bottom: 21px;
  display: flex;
  align-items: center;
  label {
    width: 260px;
    color: #444;
  }
  input {
    background-color: #f9f9f9;
    max-width: 540px;
    width: 100%;
    height: 40px;
    color: #000;
    border: 1px solid #d8d8d8;
    padding: 10px;
  }
  select {
    background-color: #f9f9f9;
    max-width: 540px;
    width: 100%;
    height: 40px;
    border: 1px solid #d8d8d8;
    padding: 10px;
    color: #707070;
  }
}
.settings__btn {
  color: #fff;
  background-color: $green;
  padding: 0 5px;
  line-height: 24px;
  width: 108px;
  height: 46px;
  border: none;
}
// end settings page

// start profile page
.profile__inner {
  display: flex;
  margin-bottom: 30px;
}
.profile__aside {
  margin-right: 30px;
  max-width: 270px;
  width: 100%;
  &.footer__social-link {
    margin-bottom: 30px;
  }
}
.profile__content {
  width: 100%;
}
.profile-status {
  padding: 6px 9px 5px 30px;
  font-size: 13px;
  border: 1px solid #d6d6d6;
  color: #707070;
  position: relative;
  &::before {
    position: absolute;
    content: "";
    width: 9px;
    height: 9px;
    border-radius: 50%;
    left: 11px;
    top: 13px;
  }
}
.profile-on {
  &::before {
    background-color: $green;
  }
}
.profile-off {
  &::before {
    background-color: $red;
  }
}
.profile__aside-btn {
  margin-bottom: 13px;
  text-align: center;
}
.profile__aside-message {
  margin-bottom: 17px;
  display: block;
  width: 100%;
  font-size: 16px;
  color: #fff;
  @include f500;
  padding: 18px 10px;
  position: relative;
  background-color: #546e7a;
  box-shadow: 0px 1px 2px 0px rgba(69, 90, 100, 0.75);

  &::before {
    position: absolute;
    content: "\f003";
    font-family: "icomoon";
    left: 50px;
    top: 17px;
  }
}
.profile__aside-following {
  margin-bottom: 17px;
  display: block;
  width: 100%;
  font-size: 16px;
  color: #fff;
  @include f700;
  background-color: $green;
  padding: 18px 10px;
}
.profile__banner {
  padding: 20px;
  border: 1px solid #dedede;
  background-color: #fff;
  margin-bottom: 35px;
}
.profile__banner-images {
  background-image: url(../images/profile/banner.jpg);
  background-repeat: no-repeat;
  min-height: 332px;
  background-position: center center;
  background-size: cover;
}
.profile__items {
  display: flex;
  border: 1px solid #dedede;
}
.profile__item {
  width: 25%;
  background-color: #fff;
  text-align: center;
  padding: 20px 5px 17px;
  & + .profile__item {
    border-left: 1px solid #dedede;
  }
}
.profile__item-title {
  font-size: 14px;
  @include f500;
  color: $bg;
}
.profile__item-content {
  font-size: 14px;
  @include f500;
}
.profile__item-sales {
  color: #000;
}
.profile-settings {
  .product-one__tabs.settings__tabs{
    .tabs span{
      font-family: "Roboto-Regular", sans-serif !important;
      font-weight: 500;
      color: #707070;
      position: relative;
      &.active::before{
        color: $green;
      }
      &::before{
        position: absolute;
        left: 27px;
        font-size: 14px;
        font-family: 'icomoon';
        color: #d0d0d0;
      }
    }
  }
}
.personal-box {
  background-color: #fff;
  padding: 35px 40px 25px;
  border: 1px solid #dedede;
}
.personal-box__title {
  margin-bottom: 25px;
  @include f700;
  color: $bg;
  font-size: 20px;
}
.personal-box__text {
  margin-bottom: 20px;
  p {
    color: #707070;
  }
}
.personal-box__item-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.personal-box__item-name {
  @include f500;
  font-size: 16px;
  font-style: italic;
  color: $bg;
}
.personal-box__item-number {
  @include f700;
  font-size: 16px;
  color: $bg;
}
.personal-box__item-line {
  height: 15px;
  background-color: #f4f4f4;
  border-radius: 3px;
  margin-bottom: 23px;
  span {
  background-image: url(../images/profile/pro-bar.png);
  background-repeat: repeat;
    height: 15px;
    display: block;
    border-radius: 3px;
  }
}
// end profile page
@import "_media";
